@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Employee","Index","Employee")
        <br />
        <br />
        @Html.ActionLink("Customer","Index","Customer")
    </div>
</body>
</html>
